.weather .weather-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.weather .weather-container .weather-component {
    flex-grow: 1;
    text-align: center;
    margin: 5px;
}

.weather .weather-container .graph-component {
    flex-grow: 2;
    text-align: center;
    margin: 5px;
}

.dropdown {
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 22%;
    margin-left: 40%;
    /* Set the same width as the search box */
    left: 0;
    /* Align with the left edge of the search box */
    text-transform: capitalize;
}

.main {
    /* flex: 25%; */
    display: flex;
    align-items: stretch;
    height: auto;
}

.main>div {
    margin: 5px;
    padding: 0 0 15px 0;
    border-radius: 10px;
}

.main .state {
    display: grid;
    background-color: orange;
    flex: 1;
    box-shadow: -1px 1px 5px black;
}

.state .icon {
    color: yellow;
    font-size: 8vw;
    padding: 3%;
}

.state .description {
    font-size: 2.5vw;
}

.state .time {
    font-size: 2.5vw;
}

.main .maxmin {
    display: grid;
    background-color: lightblue;
    flex: 1;
    box-shadow: -1px 1px 5px black;
}

.p1 {
    padding: 2px;
    margin: 0px;
    font-size: 1.5vmax;
}

h2 {
    padding: 2px;
    margin: 0px;
    font-size: 1.5vmax;
}

.graphs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lightgray;

}

.graphs .graph {
    flex: 50%;
    border-radius: 5px;
    box-shadow: -1px 1px 5px black;
}


/*.highlights {
     flex: 40%; 
  }*/

.highlights_module {
    display: grid;
    background-color: lightblue;
    flex: 1 0 100px;
    box-shadow: -1px 1px 5px black;
}


.raintable {
    border: 1px solid black;
    padding-left: 6.8%;
    border-spacing: 2px;
}

.raintable tr {
    margin: 0;
    padding: 0;

}

.raintable td {
    border: 0px solid black;
    margin: 0;
    padding: 0;
    font-size: 1vmax;
    width: 4.5%;
}

.municipio {
    font-size: 1.5vh;
    text-transform: capitalize;
}

@media (min-width: 901px) {
    .state .icon {
        font-size: 3vw;
        padding: 1%;
    }

    .state .description,
    .state .time {
        font-size: 1.5vw;
    }

    .p1 {
        font-size: 1.2vmax;
    }

    h2 {
        font-size: 1.2vmax;
    }
}